* {
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    color: white;
}
body {
    margin: 10px;
    background-color: #121212;
    box-sizing: border-box;
    font-family: 'Poppins';
}

nav {
    width: 40em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.container {
    width: 100%;
    display: flex;
}

header .container {
    justify-content: space-between;
}

main .logo {
    margin-left: 70em;
    margin-top: 32em;
    right: 100em;
    z-index: 1;

}

/* Classes */
.info {
    color: #FFF;
    margin-right: 5em;
}

header .logo {
    width: 18em;
    margin-left: 3em;
}

.imgFundo {
    width: 160em;
    transform: rotate(89deg);
    margin-left: -70em;
    margin-top: -20em;
    background-size: 800% 50%;
    z-index: -1;
}

.InicioMusic {
    color: white;
    margin-top: -110em;
    margin-left: 10em;
}

.imgBoneco {
    margin-top: -26em;
    margin-left: 68em;

}

main #sobreMim .BaseGray {
    background-color: #181818de;
    width: 35em;
    height: 40em;
    top: 100em;
    left: 15em;
    z-index: -1;
    position: absolute;
}

main #comoMeAjuda .BaseGray {
    top: 160em;
    background-color: #181818de;
    width: 45em;
    height: 28em;
    left: 10em;
    z-index: -1;
    position: absolute;
}

main #comoEstaRelacionada .BaseGray {
    top: 205em;
    background-color: #181818de;
    width: 45em;
    height: 28em;
    left: 60em;
    z-index: -1;
    position: absolute;
}

main #conclusao .BaseGrayEsquerda {
    top: 250em;
    background-color: #181818de;
    width: 45em;
    height: 28em;
    left: 5em;
    z-index: -1;
    position: absolute;
}

main #conclusao .BaseGrayDireita {
    top: 250em;
    background-color: #181818de;
    width: 45em;
    height: 28em;
    left: 60em;
    z-index: -1;
    position: absolute;
}

.positionMyfoto {
    margin-left: 2em;
    margin-top: 5em;
    z-index: -1;
}

.textSobreMim {
    margin-top: 30em;
    margin-left: 68em;
    color: #FFF;
}

.imgAnel1 {
    position: absolute;
    width: 80em;
    top: 100rem;
    opacity: 1;
    right: 46em;
    opacity: 25%;
    z-index: -2;

}

.imgAnel2 {
    position: absolute;
    width: 80em;
    top: 125rem;
    opacity: 1;
    left: 37em;
    opacity: 25%;
    z-index: -1;
    transform: rotate(179deg);

}

.imgAnel3 {
    position: absolute;
    width: 110em;
    top: 165rem;
    opacity: 1;
    right: 35em;
    opacity: 25%;
    z-index: -1;

}

#comoMeAjuda {
    display: flex;
}

#comoEstaRelacionada {
    display: flex;
}

.headSet {
    width: 30em;
    margin-top: 25em;
    margin-left: 15em;
}

.bolha1 {
    width: 55em;
    transform: rotate(245deg);
    margin-top: 3em;
    margin-left: -10.8em;
    opacity: 16%;
}

.las {
    width: 55em;
    transform: rotate(120deg);
    margin-left: -14.8em;
    opacity: 16%;
    margin-top: -22em;

}

#generos .titulo {
    margin-left: 31.5%;
}

.titulo {
    color: #5D00D0;
    font-size: 3em;
    font-weight: 800;
}

.carrosel {
    background-color: #181818de;
    width: 85%;
    display: flex;
    position: relative;
    left: 7%;
}

@keyframes go-back {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-25px);
    }
}

.animate {
    width: 200px;
    height: 200px;
    background: #1f1f1fde;
    transition: width .5s, height .5s;
    margin: 4em;
    animation: go-back 8s infinite alternate;

}

.animate:hover {
    height: 300px;
    width: 300px;
}

#formulario {
    margin-top: 30em;
}

/* #formulario .bolha1 {
    width: 65em;
    opacity: 100%;
    margin-left: -35em;
    z-index: -1;
    margin-top: 30em;
    position: relative; */
/* } */
#formulario .BaseGray {
    width: 90%;
    background-color: #181818;
    height: 50em;
    margin-left: 2.5em;
    margin-top: 3em;
    z-index: 1;
    opacity: 100%;
    padding: 2.5em;
}

#formulario .BaseGray2 {
    background-color: #1b1b1bde;
    height: 46em;
    opacity: 100%;
    padding: 2em;
}

#sel_Genero,
option,
input {
    width: 100%;
    color: white;
    padding: 1em;
    font-family: 'Poppins';
    font-size: x-large;
    font-weight: bolder;
    background-color: #181818de;
    border: none;

}

select {
    border: none;
    color: white;
}

input {
    width: 96.8%;
    margin-top: 2%;
    color: white;
}

.New_Genero {
    width: 96.8%;
    padding: 1em;
    font-family: 'Poppins';
    font-size: x-large;
    font-weight: bolder;
    margin-top: 2%;
    border: none;
    color: white;
    background-color: #181818de;
}

textarea {
    width: 99.65%;
    height: 40%;
    font-family: 'Poppins';
    font-size: x-large;
    font-weight: bolder;
    margin-top: 2%;
    background-color: #181818de;
    border: none;
    color: white;
}

.enviar {
    width: 8.4em;
    height: 3em;
    font-weight: bolder;
    font-size: x-large;
    background-color: #5D00D0;
    color: white;
    left: 83.5%;
    position: relative;
    top: 10%;
}

#formulario .titulo {
    margin-left: 33.5%;
    margin-top: -7em;
}

.painelMusic {
    background-color: #181818de;
    width: 100%;
    height: 7em;
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin-left: -9px;
    display: flex;
}

footer {
    margin-top: 8em;
}

.sessaoArtista {
    width: 30%;
    height: 100vh;
    display: flex;
}

.fotoArtista {
    position: relative;
    left: 5%;
    top: .7%;
    width: 30%;
    height: 10vh;
}

.nomeMusica {
    position: relative;
    top: 3%;
    width: 60%;
    height: 5%;
    left: 10.5%;
    overflow: auto;
    color: #FFF;
    font-weight: bolder;
    font-size: 1.1em;

}

.nomeArtista {
    width: 50%;
    height: 4.2%;
    position: relative;
    top: 6.5%;
    right: 28%;
    color: #FFF;
    font-weight: 500;
    font-size: .9em;

}

.life {
    width: 50px;
    height: 50px;
    right: 10%;
    top: 3%;
    position: relative;
    background-color: #5D00D0;
}

.playerMusica {
    width: 50%;
    height: 100vh;
}

.botaoPlayer {
    position: relative;
    left: 67.5%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    top: 1%;
    border: 2px solid #FFF;
}

.imgPlay {
    width: 25px;
    position: relative;
    top: 5%;
    left: 10%;
}

.imgskipRight {
    width: 35px;
    position: relative;
    left: 80.2%;
    top: 1.38%;
    height: 35px;
}

.imgskipLeft {
    width: 35px;
    position: relative;
    left: 36%;
    top: 1.4%;
    height: 35px;
    transform: rotate(180deg);
}

.barraMusica {
    background-color: #FFF;
    width: 55%;
    height: 6px;
    position: relative;
    left: 42%;
    top: 2.8%;
    border-radius: 5em;
}

.snippets {
    width: 50%;
    height: 100vh;
}

.AumentarVolume {
    width: 5%;
    position: relative;
    left: 51%;
    top: 3.2%;
}

.aumentarVolume {
    background-color: #FFF;
    width: 16%;
    height: 6px;
    border-radius: 5em;
    position: relative;
    left: 60%;
    top: 0.45%;
}
.aumentarImg{
    width: 3.4%;
    position: relative;
    left: 80%;
    top: -.6em;
}
.TextosExplicativos{
    color: #ffffffb7;
    font-size: 27px;
    font-style: medium;
    line-height: 45px;
    align-items: left;
    vertical-align: top;
    margin: 2em;
}