body{
    background-color: #121212;
    margin: 0;
    font-family: 'Poppins';
}
.inputEmail, .inputSenha {
    width: 100%;
    color: white;
    padding: 1em;
    font-family: 'Poppins';
    font-size: x-large;
    font-weight: bolder;
    background-color: #1C1C1C;
    border: none;
    margin-bottom: 4em;
    position: relative;
    top: 10%;
}
.Cadastro{
    display: none;
    position: relative;
    left: 5%;
}
.inputEmailCadastro, .inputSenhaCadastro, .inputNomeCadastro, .inputSobreNomeCadastro  {
    width: 50%;
    color: white;
    padding: 1em;
    font-family: 'Poppins';
    font-size: x-large;
    font-weight: bolder;
    background-color: #1C1C1C;
    border: none;
    margin-bottom: 2em;
    position: relative;
    top: 10%;

}

a{
    color: white;
    text-decoration: none
}
.EsqueceuSenha{
    color: #5D00d0;
    font-size: 1.5em;
    font-weight: bolder;
    justify-content: end;
    display: flex;
    top: 2em;
    position: relative;
}
.button, .buttonCadastro{
    background-color: #5D00d0;
    color: rgba(255, 255, 255, 0.575);
    font-size: 1.5em;
    font-weight: bolder;
    padding: 1em;
    border: none;
    position: relative;
    left: 37%;
    top: 12%;
    width: 7em;
}
.buttonCadastro{
    left: -14%;
    top: 22%;
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttonCadastrar{
    background-color: transparent;
    border: none;
    color: #5D00d0;
    font-size: .9em;
    padding: 1em;
    font-weight: bolder;

}
.baseGray{
    justify-content: center ;
    display: flex;
    background-color: #181818;
    width: 126em;
    height: 60em;
}
.infos{
    background-color: #1C1C1C;
    width: 50em;
    height: 50em;
    position: relative;
    right:10%;
    top: 8.2%;
}
.login, .h1Cadastro{
    font-size: 4em;
    color: #5D00d0;
    font-weight: bolder;
    position: relative;
    left: 40%;
    top: 7%;
}
.h1Cadastro{
    left: 15%;
}
.logo{
    position: relative;
    left: 7%;
    width: 700px;
    top: 8%;
}
.pergunta, .Direcao{
    position: relative;
    color: #5D00d0;
    font-size: 2.5em;
    left: 17%;
    top: 5%;
    font-weight: bolder;
}
.Direcao{
    color: rgba(255, 255, 255, 0.678);
    font-size: 2em;
    position: relative;
    top: 10%;
    left: 25%;    
}
#textRoxo{
    position: relative;
    color: #5D00d0;
    font-weight: bolder;
    font-size: 1.1em;
    left: -3.4%;
    top: 4px;
}