body{
    margin: 0;
    padding: 0;
}
.nav{
    width: 410px;
    height: 100vh;
    background-color: #181818de;
}
.forms{
    position: relative;
    margin-top: -10%;
    left: 7%;
    width: 100em;
}
a{
    color: #5D00D0;
    font-weight: bolder;
    font-size: 2em;
    margin-left: 1.3em;
    margin-top: 2em;
}
.logo{
    margin-left: 5%;
    width: 350px;
    margin-right: auto;
}
.imgChat, .imgPerfil{
    width: 60px;
    position: relative;
    top: 55%;
    left: 5%;
    height: 60px;
}
.imgPerfil{
    top: 77%;
}
.imgRecomendacao, .imgSair{
    width: 60px;
    position: relative;
    top: 55%;
    left: 5%;
    height: 60px;
}
.imgSair{
    top: 87%;
}
a:hover{
    transition: 1s;
    font-size: 2.1em;
    color: #FFF;
}