body{
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';

}
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #181818de;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #5D00D0;
    border-radius: 20px;
    border: 3px solid #181818de;
  }
.graficosCima{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.userCadastrados{
    width: 700px;
    height: 350px;
    background-color: #181818de;
}
.recomendacao{
    position: relative;
    top: 50%;
    width: 1500px;
    height: 450px;
    background-color: #181818de;
    overflow: auto;
}
.fontUsers{
    color: white;
    margin-top: 15%;
    font-size: 1.5em;
}
.qtdUser{
    width: 500px;
    height: 450px;
    justify-content: center;
    position: relative;
    left: 2%;
    color: #5D00D0;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}
.generalizacao{
    position: relative;
    left: 7%;
    width: 1200px;
    height: 350px;
    display: flex;
}
.genero{
    width: 400px;
    height: 350px;
    justify-content: left;
    background-color: #181818de;
}
.Avaliacao{
    position: relative;
    left: 1%;
    width: 740px;
    height: 350px;
    background-color: #181818de;
}
table{
    color: white;
    width: 100%;
    overflow: auto;
    height: 10px;
}
tr, td{
    text-align: center;
    border: 1px solid #8533e977;

}
td{
    height: 50px;
}
th{
    background-color: #8533e977;
    font-size: larger;

}
.btnEditar{
    background-color: #f566009f;
    color: white;
    font-weight: bold;
    width: 5em;
    height: 1.7em;
    border-radius: .5em;
    border-color: black;
    position: relative;
}
.btnExcluir{
    background-color: #f500009f;
    color: white;
    font-weight: bold;
    width: 5em;
    height: 1.7em;
    border-radius: .5em;
    border-color: black;
}


.total{
    width: 400px;
    height: 200px;
    justify-content: space-evenly;
    display: flex;
}
.quadrado{
    width: 150px;
    background-color: #181818de;
    height: 150px;
    margin-top: 3em;
    margin-left: 5em;
    animation: quadrado 7s infinite alternate;
}
@keyframes quadrado {
    from{
        transform: translateX(165px);
    }
}

.posLogin, .aposLogin{
    color: #5D00D0;
    
}
h2{
    margin-top: -1.2em;
    font-size: 2em;
    color: #5D00D0;
    position: relative;
    left: 100%;
    
}
p, h1{
    font-size: 1.5em;
    margin-top: 0;
    font-weight: bold;

}
.NaoCadastrados, .cadastradas{
    width: 150px;
    height: 100px;
    background-color: #181818de;
    text-align: center;
    color: white;
    margin-top: 7em;
    
}

.quadrado2{
    width: 150px;
    background-color: #181818de;
    height: 150px;
    margin-top: 3em;
    margin-left: 5em;
    animation: quadrado2 7s infinite alternate;

}
@keyframes quadrado2 {
    from{
        transform: translateY(-150px);
    }
}

.quadrado3{
    width: 150px;
    background-color: #181818de;
    height: 150px;
    margin-top: 3em;
    margin-left: 5em;
    animation: quadrado3 7s infinite alternate;

    
}
@keyframes quadrado3 {
    from{
        transform: translateY(150px);
    }
}
.quadrado4{
    width: 150px;
    background-color: #181818de;
    height: 150px;
    margin-top: 3em;
    margin-left: 5em;
    animation: quadrado4 7s infinite alternate;
}
@keyframes quadrado4 {
    from{
        transform: translateX(-160px);
    }
}